/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000000;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.content-width {
  /* Defines the width of the sections and centers the content */
  max-width: 1200px;
  margin: 0 auto;
}

.join-button {
  padding: 12px 62px;
  background-color: #3882f6;
  border-radius: 5px;
  border: solid 1px #dbd6d6;
  font-size: 1.2em;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Header & Navbar */
.header {
  background-color: #33435a;
  padding: .8em;
  color: #f9faf8;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 1em;
  font-size: 1.3em;
}

.logo {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logo a {
  font-size: 26px;
  font-weight: bold;
}

/* Hero Section */
.hero-container {
  background-color: #33435a;
  padding: 1em;
  color: #f9faf8;
}

.hero-section {
  padding: 3em 0 5em 0;
  display: flex;
  gap: 2em;
  justify-content: center;
}

.hero-section>* {
  flex: 1;
}

.hero-section img {
  border-radius: 5px;
  border: 2px solid white;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 8px;
}

.hero-text p {
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 1.5em;
  margin-bottom: 1em;
}
